{{#vendorExtensions}}
{{#x-entity-static-builder}}
    public static function createWithMeta({{#methodParams}}{{#.}}string ${{.}}{{^-last}}, {{/-last}}{{/.}}{{/methodParams}}) : {{classname}} {
        $o = new {{classname}}();
        $config = \OpenAPI\Client\Configuration::getDefaultConfiguration();
        $meta = new Meta();
        $meta->setType('{{type}}');
        $href = $config->getHost() . '/' . {{#href}}{{#path}}'{{.}}'{{/path}}{{#param}}${{.}}{{/param}}{{^-last}} . '/' . {{/-last}}{{/href}};
        $meta->setHref($href);
        $o->setMeta($meta);
        $o->setId($id);
        return $o;
    }
{{/x-entity-static-builder}}
{{/vendorExtensions}}