{{>licenseInfo}}
package {{modelPackage}};

import java.util.UUID;


/**
 * Interface for common entities.
 */
public interface IAttribute<T> {

    public void setValue(T obj);

    public T getValue();

}
