{{>licenseInfo}}
package {{polymorphicPackage}};

import java.lang.annotation.ElementType;
import java.lang.annotation.Retention;
import java.lang.annotation.RetentionPolicy;
import java.lang.annotation.Target;

{{>generatedAnnotation}}
@Retention(RetentionPolicy.RUNTIME)
@Target(ElementType.TYPE)
public @interface OpenApiPolymorphicMissingType {
  /**
   * Model class used when the nested discriminator path is absent or not textual.
   * Batch errors use this because they do not contain meta.type.
   */
  Class<?> value();
}
